# IDEs
.idea/
.vscode/

# dependencies - REMOVE the leading slash
node_modules/
.pnp
.pnp.*
.yarn/*

# Strapi specific (Add these!)
.cache/
.strapi/
build/
uploads/
exports/

# next.js
.next/
out/

# misc
.DS_Store
*.pem
.env
.env.local
.env.development
.env.test
.env.production

# debug logs
*-debug.log*
*-error.log*
.pnpm-debug.log*
